name: ci/cd pipeline to deploy to tomcat

on: 
  push:
    branches: master  #runs pipeline only when pushing to master branch
jobs:
   build-deploy:
     runs-on: ubuntu latest
     
     steps:
           # checkout repo
           - name: checkout code
             uses: actions/checkout@v4
         
           # set-up java
           - name: set-up jdk
             uses: actions/setup-java@v4
             with:
               distribution: 'temurin'
               java-version: '17'
           
           # build with maven(update)
           - name: package with maven
             run: mvn clean package

          # Deploy to Tomcat
           - name: deploy war to tomcat
             run: | 
                curl -v -u ${{ secrets.TOMCAT_USER }}:${{ secrets.TOMCAT_PASSWORD }} \
                  -T target/TrainBook-1.0.0-SNAPSHOT.war \
                  "http://${{ secrets.TOMCAT_HOST }}:8080/manager/text/deploy?path=/TrainBook&update=true"
        

      
          
       
     
      
